<div class="container">
  <h4>
    <button class="btn btn-primary" (click)="openModal(true)">Add</button
    >{{ data.tableHead.name }}
  </h4>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col" *ngFor="let head of data.tableHead.columns">
          {{ head.name }}
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let body of data.tableBody; index as j">
        <td *ngFor="let key of body | keyvalue">
          {{ key.value }}
        </td>
        <td>
          <button class="btn btn-primary" (click)="openModal(true, body)">
            Update
          </button>
          <button class="btn btn-primary" (click)="delete(body)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="openModal(false)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="onSubmit()"
        #loginForm="ngForm"
      >
        <div class="modal-body">
          <div
            class="form-group"
            *ngFor="let c of category | keyvalue; index as i"
          >
            <label [for]="c.key + i">{{ c.key }}</label>
            <input
              [id]="c.key + i"
              [type]="data.tableHead.columns[i].dataType"
              class="form-control"
              [formControlName]="c.key"
              [placeholder]="c.key"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(false)"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="categoryForm.pristine"
          >
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
