<div class="container">
  <div class="card text-center m-2" *ngFor="let post of posts">
    <div class="card-header text-left">
      {{post.title}}
    </div>
    <img class="card-img-top" [src]="post.image" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{post.categoryId.name}}</h5>
      <p class="card-text">{{post.details}}</p>
    </div>
    <div class="card-footer text-muted">
      <footer class="blockquote-footer">The blog created on <span>{{post.date | date}}</span> by <cite title="Source Title">{{post.postUserId.name}}</cite></footer>
    </div>
  </div>
</div>
