<div class="container">
    <!-- <alloy-tab-link></alloy-tab-link> -->
</div>
<!-- Counter boxes START -->
<!-- <div class="row">
    <div *ngFor="let card of cards" class="col-md-6 col-xxl-3">
        <alloy-card-icon [cardIcon]="card"></alloy-card-icon>
    </div>
</div> -->
<!-- Counter boxes END -->
<div class="row">
    <div *ngFor="let card of actionCards" class="col-lg-6">
        <alloy-card-image-action [cardImageAction]="card" (output)="getOutput($event)"></alloy-card-image-action>
    </div>
</div>
<!-- <alloy-modal-toast [modalToast]="modal" (output)="onSubmit()"></alloy-modal-toast> -->