<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let table of tables">
    <a
      class="nav-link"
      [routerLink]=""
      role="button"
      (click)="showList(table)"
      >{{ table.name | titlecase }}</a
    >
  </li>
</ul>
<div *ngIf="loadData">
  <img src="../../assets/loading.gif" alt="Fetching Data From Server" />
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <h4>{{ table.name | titlecase }}</h4>
    <div class="form-inline">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroup"
          placeholder="Search"
          [(ngModel)]="search"
          (blur)="getSearchDataList(0)"
        />
        <div class="input-group-prepend">
          <div class="input-group-text">
            <span class="icon"><fa-icon [icon]="searchIcon"></fa-icon></span>
          </div>
          <div class="input-group-text">
            <span class="icon"><fa-icon [icon]="cross"></fa-icon></span>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="openModal(true, 'Add')">
      <span class="icon"><fa-icon [icon]="add"></fa-icon></span>
    </button>
  </div>
  <table class="table table-sm table-striped text-center">
    <thead>
      <tr>
        <th
          scope="col"
          *ngFor="let head of tableHead"
          (click)="getFilterDataList(0, head)"
        >
          {{ head.name }}
          <span class="icon"><fa-icon [icon]="downToggle"></fa-icon></span>
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let body of tableBody; index as j">
        <td *ngFor="let key of body | keyvalue">
          {{ key.value }}
        </td>
        <td>
          <button
            class="btn btn-primary m-2"
            (click)="openModal(true, 'Update', body)"
          >
            <span class="icon"><fa-icon [icon]="update"></fa-icon></span>
          </button>
          <button
            class="btn btn-primary m-2"
            (click)="openModal(true, 'Delete', body)"
          >
            <span class="icon"><fa-icon [icon]="delete"></fa-icon></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Pagignation links-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item" [ngClass]="{ disabled: page.first }">
        <a class="page-link" [routerLink]="">Previous</a>
      </li>
      <li class="page-item" *ngFor="let p of page.pages">
        <a class="page-link" [routerLink]="" (click)="getFilterDataList(p)">{{
          p + 1
        }}</a>
      </li>
      <li class="page-item" [ngClass]="{ disabled: page.last }">
        <a class="page-link" [routerLink]="">Next</a>
      </li>
    </ul>
  </nav>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ modalType + " a " + table.name }}
        </h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="openModal(false)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        [formGroup]="dataForm"
        (ngSubmit)="submitData()"
        #loginForm="ngForm"
      >
        <div class="modal-body" *ngIf="columns != undefined">
          <div
            class="form-group"
            *ngFor="let c of columns | keyvalue; index as i"
          >
            <label for="{{ c.key + i }}">{{ c.key }}</label>
            <input
              *ngIf="tableHead.length > 0"
              id="{{ c.key + i }}"
              type="{{ tableHead[i].dataType }}"
              class="form-control"
              formControlName="{{ c.key }}"
              placeholder="{{ c.key }}"
              [readonly]="tableHead[i].readOnly"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(false)"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            {{ modalType }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
