<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let table of tables">
    <a
      class="nav-link"
      [routerLink]=""
      role="button"
      (click)="showList(table)"
      >{{ table.name }}</a
    >
  </li>
</ul>
<div *ngIf="loadData">
  <img src="../../assets/loading.gif" alt="Fetching Data From Server" />
</div>
<div class="container">
  <div class="d-flex justify-content-between">
    <h4>{{ table.name }}</h4>
    <button class="btn btn-primary" (click)="openModal(true,'Add')">Add</button>
  </div>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col" *ngFor="let head of tableHead">
          {{ head.name}}
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let body of tableBody; index as j">
        <td *ngFor="let key of body | keyvalue">
          {{ key.value }}
        </td>
        <td>
          <button class="btn btn-primary" (click)="openModal(true, 'Update',body)">
            Update
          </button>
          <button class="btn btn-primary" (click)="openModal(true,'Delete',body)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalType +" a "+table.name}}</h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="openModal(false)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        [formGroup]="categoryForm"
        (ngSubmit)="submitData()"
        #loginForm="ngForm"
      >
        <div class="modal-body" *ngIf="category != undefined">
          <div
            class="form-group"
            *ngFor="let c of category | keyvalue; index as i"
          >
            <label for="{{ c.key + i }}">{{ c.key }}</label>
            <input
              *ngIf="tableHead.length > 0"
              id="{{ c.key + i }}"
              type="{{ tableHead[i].dataType }}"
              class="form-control"
              formControlName="{{ c.key }}"
              placeholder="{{ c.key }}"
              [readonly]="tableHead[i].readOnly || modalType=='Delete'"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(false)"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary"
          >
            {{modalType}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
