<ul class="nav nav-tabs nav-fill">
  <li class="nav-item" *ngFor="let table of tables">
    <a
      class="nav-link h5"
      [routerLink]=""
      role="button"
      [class.active]="table.name === active.table"
      (click)="showList(table)"
      >{{ table.name | titlecase }}</a
    >
  </li>
</ul>
<div class="container" *ngIf="tableBody !== undefined">
  <div *ngIf="loadData" class="text-center">
    <img src="../../assets/loading.gif" alt="Fetching Data From Server" />
  </div>
  <div class="d-flex justify-content-between">
    <h4>{{ table.name | titlecase }}</h4>
    <div class="form-inline">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="inlineFormInputGroup"
          placeholder="Search"
          [(ngModel)]="search"
          (blur)="getSearchDataList(0)"
        />
        <div class="input-group-prepend">
          <div class="input-group-text" (click)="getSearchDataList(0)">
            <span class="icon"><fa-icon [icon]="searchIcon"></fa-icon></span>
          </div>
          <div class="input-group-text" (click)="getSearchDataList(0, '')">
            <span class="icon"><fa-icon [icon]="cross"></fa-icon></span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary m-1">
        <span class="icon"><fa-icon [icon]="print"></fa-icon></span>
      </button>
      <button class="btn btn-primary m-1">
        <span class="icon"><fa-icon [icon]="upload"></fa-icon></span>
      </button>
      <button class="btn btn-primary m-1">
        <span class="icon"
          ><fa-icon [icon]="download"></fa-icon
        ></span>
      </button>
      <button class="btn btn-primary m-1" (click)="openModal(true, 'Add')">
        <span class="icon"><fa-icon [icon]="add"></fa-icon></span>
      </button>
    </div>
  </div>
  <table class="table table-sm table-striped text-center">
    <thead>
      <tr>
        <th
          scope="col"
          *ngFor="let h of columnName | keyvalue"
          (click)="getFilterDataList(0, h)"
        >
          {{ h.key }}
          <span *ngIf="h.key === sortColumn.name">
            <fa-icon
              [icon]="upToggle"
              *ngIf="sortColumn.sort; else upArrow"
            ></fa-icon>
            <ng-template #upArrow>
              <fa-icon [icon]="downToggle"></fa-icon>
            </ng-template>
          </span>
        </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let body of tableBody; index as j">
        <td *ngFor="let col of body | keyvalue">
          <ng-container
            *ngIf="isObject(col.value); then thenBlock; else elseBlock"
          ></ng-container>
          <ng-template #thenBlock>
            <span [tooltip]="toString(col.value)">{{ col.value.id }}</span>
          </ng-template>
          <ng-template #elseBlock>
            <ng-container
              *ngIf="col.key != 'image'; then value; else image"
            ></ng-container>
            <ng-template #value>
              <span>{{ col.value }}</span>
            </ng-template>
            <ng-template #image>
              <img [src]="col.value" width="40 px" height="40 px" />
            </ng-template>
          </ng-template>
        </td>
        <td>
          <button
            class="btn btn-primary m-2"
            (click)="openModal(true, 'Update', body)"
          >
            <span class="icon"><fa-icon [icon]="update"></fa-icon></span>
          </button>
          <button
            class="btn btn-primary m-2"
            (click)="openModal(true, 'Delete', body)"
          >
            <span class="icon"><fa-icon [icon]="delete"></fa-icon></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!--Pagignation links-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="!page.first">
        <a
          class="page-link"
          [routerLink]=""
          (click)="getFilterDataList(active.page - 1)"
          >Previous</a
        >
      </li>
      <li
        class="page-item"
        *ngFor="let p of page.pages"
        [class.active]="p === active.page"
      >
        <a class="page-link" [routerLink]="" (click)="getFilterDataList(p)">{{
          p + 1
        }}</a>
      </li>
      <li class="page-item" *ngIf="!page.last">
        <a
          class="page-link"
          [routerLink]=""
          (click)="getFilterDataList(active.page + 1)"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ modalType + " a " + table.name }}
        </h5>
        <button
          type="button"
          class="close"
          aria-label="Close"
          (click)="openModal(false)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        [formGroup]="dataForm"
        (ngSubmit)="submitData()"
        #loginForm="ngForm"
      >
        <div class="modal-body" *ngIf="columns != undefined">
          <div class="form-group" *ngFor="let c of columns | keyvalue">
            <div [ngSwitch]="c.value.type">
              <div *ngSwitchCase="'text'">
                <label for="{{ c.value.id }}">{{ c.value.name+"*" }}</label>
                <input
                  [id]="c.value.id"
                  [type]="c.value.type"
                  class="form-control"
                  [formControlName]="c.key"
                  [readonly]="c.value.readOnly"
                />
              </div>
              <div *ngSwitchCase="'email'">
                <label for="{{ c.value.id }}">{{ c.value.name+"*" }}</label>
                <input
                  [id]="c.value.id"
                  [type]="c.value.type"
                  class="form-control"
                  [formControlName]="c.key"
                  [readonly]="c.value.readOnly"
                />
              </div>
              <div *ngSwitchCase="'password'">
                <label for="{{ c.value.id }}">{{ c.value.name+"*" }}</label>
                <input
                  [id]="c.value.id"
                  [type]="c.value.type"
                  class="form-control"
                  [formControlName]="c.key"
                  [readonly]="c.value.readOnly"
                />
              </div>
              <div *ngSwitchCase="'file'">
                <label for="{{ c.value.id }}">{{ c.value.name+"*" }}</label>
                <input
                  [id]="c.value.id"
                  [type]="c.value.type"
                  class="form-control"
                  [formControlName]="c.key"
                  (change)="onFileChange($event)"
                />
              </div>
              <div *ngSwitchCase="'number'">
                <label for="{{ c.value.id }}">{{ c.value.name+"*" }}</label>
                <input
                  [id]="c.value.id"
                  [type]="c.value.type"
                  class="form-control"
                  [formControlName]="c.key"
                  [readonly]="c.value.readOnly"
                />
              </div>
              <div *ngSwitchCase="'select'">
                <label for="{{ c.value.id }}">{{ c.value.name+"*" }}</label>
                <select
                  [id]="c.value.id"
                  class="form-control"
                  [formControlName]="c.key"
                >
                  <option *ngFor="let opt of c.value.options">
                    {{ opt.id }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="openModal(false)"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            {{ modalType }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
